.login {
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	width: 100%;
	padding: 10px;
	/* gap:150px; */
	align-items: center;
}
.login__image{
	background-image: url("../../assets/Login__image.png");
	background-position: center center;
	/* background-size: cover; */
	width: 816px;
height: 1076px;


	border-radius: 24px;
}
