.loginForm__content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex-wrap: wrap;
  padding: 108px;
}
.loginForm__content__logo {
  background-image: url("../../assets/loginPage__content__logo.png");
  background-position: center center;
  background-size: cover;
  width: 215px;
  height: 53px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.loginForm__content > h2 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
}
.loginForm__content > p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.loginForm__content > form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 463px;

  gap: 24px;
}

.loginForm__content > form > label {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  width: 463px;
  color: #0c1421;
}

.input {
  width: 463px;
  height: 48px;

  border-radius: 100px;
  border: 1px solid #8897ad;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.loginForm__content > form > button {
  
  

  background-color: #fc8a06;
  border-radius: 100px;
  color: white;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;

  width: 463px;
  height: 48px;
 
}
.bottom__text{
  font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: 0.01em;
text-align: center;


}
.bottom__text > p > a {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.01em;
  color: #fc8a06;
}
