*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
	background-color: transparent;
}

html,
body {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	overflow-y: auto;

	--max-width: 1728px;
	--padding-after-width: calc(100% - var(--max-width));
	--padding-left: calc(var(--padding-after-width) / 2);
}

#root {
	height: 100%;
	width: 100%;
}

.page {
	padding-left: var(--padding-left);
	padding-right: var(--padding-left);
	width: calc(100% - var(--padding-after-width));
}

/* .app, #app {
	padding: 0px 60px ;
	width: calc(100% - 120px);
	height: 100%;
} */

@media (max-width: 1728px) {
	.page {
		padding: 0px 20px;
		width: calc(100% - 40px);
	}
}
